.category-box {
  background-color: aliceblue;
  display: inline-block;
  width: 25%;
  padding: 20px 5px;
  list-style: none;
  margin-top: 40px;
  position: absolute;

  .cat {
    margin: 5px;
    font-weight: 700;

    a {
      color: black;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      &:hover {
        color: green;
      }
    }
  }
}
