$main-bg: rgba(18, 17, 27, 1);
$green-color: rgba(40, 159, 41, 1);
$white: #d6d6d6;
$beyaz: rgba(255, 255, 255, 1);
$gray: #7c7c7e;
$more-gray: #c3c3c3;
$barlow: 'Barlow Semi Condensed';
$anton: 'Anton';
$greeny: #5f9f35;
