@use '/src/styles/vars/variables' as vars;

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background: vars.$main-bg;
// }

/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 10px;
}

/* Bar-background */
::-webkit-scrollbar-track {
  background: vars.$white;
  padding: 10px;
}

/* Bar */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  padding: 10px;
  background: vars.$green-color;
}

/* Bar on hover */
::-webkit-scrollbar-thumb:hover {
  padding: 10px;
  background: #269d11;
}
